
.swiper-container {
    //background-color: blue;
    width: 1200px;
    margin: auto;

    .card-holder {
        .card {
            justify-content: center;
            // height: 100px;
            align-items: center;
            background-color: rgba(234, 185, 230, 0.908);
            border-radius: 1.5rem;
            border: 1px solid rgb(214, 80, 80);
            cursor: pointer;
            margin: 10px; 

            .image-holder {
                display: flex;
                justify-content: center;

                .image {
                    border-radius: 50%;
                    height: 120px;
                    width: 120px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            .info {
                display: flex;
                height: 150px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 1.5rem;
                gap: 1rem;
                padding: 1.5rem;

                .name {
                    margin-top: 1.5px;
                    font-size: large;
                    font-weight: bold;
                }

                .read-btn {
                    display: inline-block;
                    background-color: rgb(202, 234, 234);
                    font-size: medium;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}
